.quad ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.box {
	display: block;
	
	background-color: rgb(39,0,156);
	width: 10em; height: 10em;
	-moz-box-shadow: 2px 2px 5px #ccc;
	-webkit-box-shadow: 2px 2px 5px #ccc;
	box-shadow: 2px 2px 5px #ccc;
	
	display: inline-block;
}

.box:hover {
	background-color: rgb(59,20,186);
}

.box h1 {
	color: white;
	margin: 10pt;
	
	text-align: center;
	
	position: relative;
}

.tl .box h1, .tr .box h1 {
	position: absolute;
	bottom: 0; left: 0; right: 0;
}

.header {
	position: relative;
}

.quad.tl {
	position: absolute;
	right: 50%;
	bottom: 50%;
	margin-right: 1em;
	margin-bottom: 1em;
	text-align: right;
}

.quad.tl .box {
	-moz-border-radius-topleft: 4em;
	-webkit-border-top-left-radius: 4em;
	border-top-left-radius: 4em;
}

.quad.bl {
	position: absolute;
	right: 50%;
	top: 50%;
	margin-right: 1em;
	margin-top: 1em;
	
	text-align: right;
}

.quad.bl .box {
	-moz-border-radius-bottomleft: 4em;
	-webkit-border-bottom-left-radius: 4em;
	border-bottom-left-radius: 4em;
}

.quad.tr {
	position: absolute;
	left: 50%;
	bottom: 50%;
	margin-left: 1em;
	margin-bottom: 1em;
}

.quad.tr .box {
	-moz-border-radius-topright: 4em;
	-webkit-border-top-right-radius: 4em;
	border-top-right-radius: 4em;
}

.quad.br {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: 1em;
	margin-top: 1.5em;
	
	background-image: url("/_static/logo.png");
	width: 300px; height: 150px;
}

h1 {
	font-size: 18pt;
}

#footer {
	position: absolute;
	
	left: 0; right: 0; bottom: 0;
}
